*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
header{
    width: 1350px;
    height: 600px;
    opacity: rgba(0,0,0,0.1);
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url("logo.jpg");
    background-size: cover;
}
.navbar{
    width: 1300px;
    height: 80px;
    display: flex;
    padding: 10px;
}
button{
    width: 80px;
    height: 35px;
    background-color: #E50414;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 400;
}
.nav1{
    width: 90%;
    color: rgb(229,9,20);
    fill: currentColor;
    display: block;
    font-weight: 700;
    padding-left: 15px;
    font-size: 2rem;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.panel{
    height: 200px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    display: block;
    margin-left: 300px;
    margin-top: 200px;
    font-weight: 700;
}
h1{
    margin-bottom: 10px;
}
p{
    text-align: center;
    margin-bottom: 10px;
}
.signin{
    margin-top: 10px;
}
input{
    height: 40px;
    width: 400px;
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    border: 2px solid white;
    padding-left: 10px;
    color: white;
}
button{
    height: 40px;
    width: 180px;
    font-size: 1.3rem;
    font-weight: 700;
}
.tv{
    height: 500px;
    background-color: black;
    display: flex;
    color: white;
    font-weight: 900;
    justify-content: space-around;
    border-bottom: 10px solid gray;
    border-top: 10px solid gray;
}
.tv-text{
    height: 200px;
    width: 50%;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 100px;
    text-align: center;
}
.tv-movie{
    height: 400px;
    width: 400px;
    background-image: url("feature-1.png");
    background-size: cover;
}
.watch{
    height: 500px;
    background-color: black;
    display: flex;
    color: white;
    font-weight: 900;
    justify-content: space-around;
    border-bottom: 10px solid gray;
}
.movie{
    height: 400px;
    width: 500px;
    background-image: url("feature-2.png");
    background-size: cover;
}
.watch-text{
    height: 200px;
    width: 50%;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 100px;
    text-align: center;
}
.every-movie{
    height: 400px;
    width: 550px;
    background-image: url("feature-3.png");
    background-size: cover;
}
.chlid-movie{
    height: 400px;
    width: 550px;
    background-image: url("img5.png");
    background-size: cover;
}
h2{
    padding-bottom: 10px;
}
.qus{
    height: 100px;
    background-color: black;
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    border-bottom: 10px solid gray;
}
h3{
    font-weight: 400;
}
.copyright{
    height: 50px;
    background-color: black;
    display: block;
    text-align: center;
    color: white;
    padding-top: 25px;
    border-bottom: 10px solid gray;
}
.right1{
    padding-bottom: 5px;
}
a{
    padding-right: 5px;
    text-decoration: none;
    color: white;
}
a:hover{
    border-bottom: 1px solid white;
}
button:hover{
    background-color: white;
    color: red;
}
input:hover{
    border: 2px solid red;
}
